{% extends 'base.html' %}



{% block content %}



<!-- <div id="btnAddRound">+</div>
<div class="addContent" id="addContentID">
    <form action="" method="post" id="Add">
        <input type="text" id ="textInput" name="meal" class="textInput" minlength="1" placeholder="Namn på måltid" autofocus>
        <input type="number" name="no_of_meals" class="numberInput" placeholder="Antal måltider" width="5"><br>
        
        <input type="radio" name="meal_type" id="storkok" value="Storkok" checked>
        <label for="storkok">Storkok</label>
        <input type="radio" name="meal_type" id="middag" value="Middag">
        <label for="middag">Middag</label>
        <input type="radio" name="meal_type" id="lunch" value="Lunch">
        <label for="lunch">Lunch</label><br>
        
        
        <input type="submit" value="Ångra" name="btn" class="editBtn">
        <input type="submit" id="addBtn" value="Add" name="btn">
    </form>
</div> -->

<!-- <div id="scroll">
    {% for meal in meals %}
    <div class="parent">
        <div class="div1">{{ meal.name }} </div>
        <div class="div2">{{ meal.last_ate }} </div>
        <div class="div3">{{ meal.meal_type }} </div>
        <div class="div4">
            <a href="{{ url_for('edit', meal_id=meal.id) }}" name="btn" value="Edit">
                <img src="{{ url_for('static', filename='gear.png') }}" width="15" height="15" alt="Edit" align="center"></a>
                <a href="{{ url_for('delete', meal_id=meal.id) }}" name="btn" value="Delete">
                    <img src="{{ url_for('static', filename='trash.png') }}" width="15" height="15" alt="Delete" align="center"></a>
                    <a href="{{ url_for('select', meal_id=meal.id) }}" name="btn" calue="Select">
                        <img src="{{ url_for('static', filename='check-mark.png') }}" width="15" height="15" alt="Select" align="center"></a>
            </div>
        </div>
        {% endfor %}                  
    </div> -->
    <div class="list-group"></div>
        {% for meal in meals %}
        <a href="#" class="list-group-item list-group-item-action active, bg-white" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ meal.name }} </h5> <a href="{{ url_for('edit', meal_id=meal.id) }}"><img src="{{ url_for('static', filename='edit__pencil.jpg') }}" width="15" height="15"></a>
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
              </svg></h5>
            <small class="dates">{{ meal.last_ate }}</small>
            <!--<small><a href="#" class="text-right">Ändra</a></small>-->
            </div>
            <p class="mb-1">Antal portioner: {{ meal.no_of_meals }} </p>
            <small>Protein: {{ meal.protein }} </small>
            <hr>
        </a>    
        {% endfor %}
        
{% endblock %}

{% block head_js %}
    {{ super() }}
    <script src="{{url_for('static',filename='script.js')}}"></script>
{% endblock %}